# --- Terraform ---
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# --- AWS Lambda build artifacts ---
*.zip
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# --- OS / Editor files ---
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# --- IDE / Editor configs ---
.vscode/
.idea/
*.swp
*.swo

# --- Python virtual environments ---
venv/
.env/
.envrc
