name: Deploy to S3

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  S3_BUCKET_NAME: cryptopulse-site
  CLOUDFRONT_DISTRIBUTION_ID: E3TTXUBJD63TGD  # Replace with the correct ID from CloudFront

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.IAM_ROLE_S3 }}
          aws-region: ${{ env.AWS_REGION }}

      - name: List repo files
        run: ls -lh $GITHUB_WORKSPACE

      - name: Sync site files to S3
        run: |
          aws s3 sync $GITHUB_WORKSPACE s3://$S3_BUCKET_NAME/ --delete --exact-timestamps \
            --exclude ".git/*" \
            --exclude ".github/*" \
            --exclude "README.md" \
            --include "*.html" \
            --include "*.css" \
            --include "*.js" \
            --include "*.png" \
            --include "*.jpg" \
            --include "*.jpeg" \
            --include "*.gif"

      - name: Confirm S3 sync
        run: aws s3 ls s3://$S3_BUCKET_NAME/

      - name: Invalidate CloudFront cache
        run: |
          INVALIDATION_ID=$(aws cloudfront create-invalidation \
            --distribution-id $CLOUDFRONT_DISTRIBUTION_ID \
            --paths "/*" \
            --query 'Invalidation.Id' --output text)
          echo "Invalidation ID: $INVALIDATION_ID"
          aws cloudfront wait invalidation-completed --distribution-id $CLOUDFRONT_DISTRIBUTION_ID --id $INVALIDATION_ID